* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 300px;
    height: 150px;
    font-family: Helvetica, sans-serif, Arial;
}

h1, h2 {
    text-transform: uppercase;
    padding:5px;
    letter-spacing: 1.1;
}

.container {
    padding: 1rem 1.5rem;
    text-align: center;
}

.genre-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
}

.genre-list li {
    flex: 1 1 50%;
    padding: 2px;
}

.genre-list li a {
    text-decoration: none;
}